<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>
      <!-- ClickTale Top part -->
      <script type="text/javascript">
      var WRInitTime=(new Date()).getTime();
      </script>
      <!-- ClickTale end of Top part -->


    {% include header.html %}

    <div class="page-content">
      <div class="wrap">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}


      <!-- ClickTale Bottom part -->

      <script type='text/javascript'>
      // The ClickTale Balkan Tracking Code may be programmatically customized using hooks:
      // 
      //   function ClickTalePreRecordingHook() { /* place your customized code here */  }
      //
      // For details about ClickTale hooks, please consult the wiki page http://wiki.clicktale.com/Article/Customizing_code_version_2

      document.write(unescape("%3Cscript%20src='"+
      (document.location.protocol=='https:'?
      "https://cdnssl.clicktale.net/www07/ptc/cf3d6122-7f79-4de0-b5f9-771c44785f4d.js":
      "http://cdn.clicktale.net/www07/ptc/cf3d6122-7f79-4de0-b5f9-771c44785f4d.js")+"'%20type='text/javascript'%3E%3C/script%3E"));
      </script>


      <!-- ClickTale end of Bottom part -->

    </body>
</html>